<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>outlet_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>13</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
				<key>dateExpires</key>
				<string>13/10/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Try.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>speech_to_text.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6579A799EC16D85ACFB2FA4A666A166D6E742C4D</string>
						<key>dateExpires</key>
						<string>13/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AQ64ULV8W2</string>
						<key>name</key>
						<string>Fashion Outlet Service GmbH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AQ64ULV8W2.com.outlet-montabaur.de-develop</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AQ64ULV8W2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6feeb893-a825-4587-83f9-21103d55d3a2</string>
				<key>dateExpires</key>
				<string>3/11/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AQ64ULV8W2</string>
				<key>name</key>
				<string>Fashion Outlet Service GmbH</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.21</string>
		</dict>
	</array>
</dict>
</plist>
